{% extends 'base_app/base.html' %}
{% load static %}
{% block title %} index.html {% endblock title %}

{% block body %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'base_app/cssfile/all_news.css' %}">
{% endblock cssfile %}
   <!-- Page content-->
   <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to Connect News</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on   Today, 2021 by Start Connect</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">News</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Covid-19</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'base_app/images_file/news.jpg' %}" alt="..." /></figure>
                <!-- Post content-->
                <section id="all_news" class="mb-5">
                    <p class="fs-5 mb-4">Though it may be interesting or even entertaining, the foremost value of news is as a utility to empower the informed. The purpose of journalism is thus to provide citizens with the information they need to make the best possible decisions about their lives, their communities, their societies, and their governments</p>
                    <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                    <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                    <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                    <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                    <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When you put money directly to a problem, it makes a good headline.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">Coronavirus</a></li>
                                <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines">Vaccines</a></li>
                                <li><a href="https://www.who.int/emergencies/situations/syria-crisis">Syria crisis</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://delhifightscorona.in/testing/">COVID Testing Centres</a></li>
                                <li><a href="https://www.cowin.gov.in/home">Vaccination update</a></li>
                                <li><a href="https://www.google.com/search?q=book+covid+vaccine&client=opera&hs=YIs&ei=1bymYMG2L8nXz7sP_bWfiAg&oq=book+covid+&gs_lcp=Cgdnd3Mtd2l6EAEYBDIHCAAQyQMQQzIFCAAQkgMyBQgAEJIDMgUIABCRAjIECAAQQzICCAAyAggAMgIIADICCAAyAggAOgIILjoICC4QxwEQowI6CwguEMcBEK8BEJECOgoILhDHARCjAhBDUPIWWNSGAWCMlwFoAHACeACAAeUIiAHtE5IBCDAuMTEuNy0xmAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=gws-wiz">Side effects</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Covid Update</div>
                <div class="card-body"><img class="img-fluid rounded" src="{% static 'base_app/images_file/covid.jpg' %}" alt="..." /></div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Connect 2021</p></div>
</footer>



{% endblock body %}
{% block jsfile %}
{% static 'base_app/jsfile/all_news.js' %}
{% endblock jsfile %}